@import "./../../assets/sass/abstracts/variables";
@import "./../../assets/sass/abstracts//mixins";

.plan {
  &_box {
    &es {
      display: flex;
      gap: 1rem;
      width: 100%;
      @include respond(phone) {
        flex-direction: column;
        padding-top: 2.4rem;
      }
    }
    border: 1.55px solid $Cool-gray;
    &.active {
      border-color: $Purplish-blue !important;
    }
    &:hover {
      border-color: $Purplish-blue !important;
      cursor: pointer;
    }
    border-radius: 0.6rem;
    padding: 2rem 0 0 1.6rem;
    width: 12.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    @include respond(phone) {
      flex-direction: row;
      width: 86%;
      margin: 0 7%;
      gap: 1.2rem;
      padding: 1.4rem;
    }
  }

  &_data {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
    @include respond(phone) {
      margin-bottom: 0.3rem;
    }
  }
  &_name {
    color: $Marine-blue;
    font-weight: 500;
    font-size: 1.4rem;
  }
  &_pricing {
    font-weight: 400;
    color: $Cool-gray;
  }
  &_text {
    color: $Marine-blue;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
.plan {
  &-switch-box {
    background-color: $Magnolia;
    border-radius: 0.6rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    margin: 2.7rem auto 0;
    justify-content: center;
    padding: 1.4rem 0;
    border-radius: 0.6rem;
    @include respond(phone) {
      margin: 1.5rem 0;
      gap: 1.5rem;
      background-color: $White;
    }
  }
  &-duration {
    color: $Cool-gray;
    font-weight: 700;
    &_active {
      color: $Marine-blue;
    }
  }
}
