<section class="step_2">
  <h1 class="heading-primary">Select your plan</h1>
  <p class="heading-desc">You have the option of monthly or yearly billing.</p>
  <div class="plan_boxes">
    <div class="plan_box">
      <div class="plan_icon-box">
        <img
          src="./assets/images/icon-arcade.svg"
          alt="arcade icon"
          class="plan_icon"
        />
      </div>
      <div class="plan_data">
        <p class="plan_name">Arcade</p>
        <p class="plan_pricing">$9/mo</p>
      </div>
    </div>
    <div class="plan_box">
      <div class="plan_icon-box">
        <img
          src="./assets/images/icon-advanced.svg"
          alt="advanced plan icon"
          class="plan_icon"
        />
      </div>
      <div class="plan_data">
        <p class="plan_name">Advanced</p>
        <p class="plan_pricing">$12/mo</p>
      </div>
    </div>
    <div class="plan_box">
      <div class="plan_icon-box">
        <img
          src="./assets/images/icon-pro.svg"
          alt="pro plan icon"
          class="plan_icon"
        />
      </div>
      <div class="plan_data">
        <p class="plan_name">Pro</p>
        <p class="plan_pricing">$15/mo</p>
      </div>
    </div>
  </div>
  <div class="plan-switch-box">
    <span class="plan-duration plan-duration_active">Monthly</span>
    <span>
      <label class="switch">
        <input id="isYearly" type="checkbox" />
        <span class="slider round"></span>
      </label>
    </span>
    <span class="plan-duration">Yearly</span>
  </div>
  <div class="navigation-btns">
    <button class="btn_back">Go Back</button>
    <button class="btn_next">Next Step</button>
  </div>
</section>
