<section class="step_2">
  <h1 class="heading-primary">Select your plan</h1>
  <p class="heading-desc">You have the option of monthly or yearly billing.</p>
  <div class="plan_boxes">
    <ng-container *ngFor="let plan of plans[currentPlanType]">
      <div
        class="plan_box"
        [ngStyle]="{
          'border-color': plan.name === selectedPlan?.name ? '#473dff' : '#9699ab'
        }"
        (click)="selectPlan(plan)"
      >
        <div class="plan_icon-box">
          <img
            [src]="plan.icon"
            alt="{{ plan.name + 'icon' }}"
            class="plan_icon"
          />
        </div>
        <div class="plan_data">
          <p class="plan_name">{{ plan.name }}</p>
          <p class="plan_pricing">{{ plan.price }}</p>
          <p class="plan_text">{{ plan.text }}</p>
        </div>
      </div>
    </ng-container>
   
  </div>
  <div class="plan-switch-box">
    <span class="plan-duration plan-duration_active">Monthly</span>
    <span>
      <app-toggle-switch
        [isChecked]="currentPlanType === 'yearly'"
        (checked)="changePlanType($event)"
      ></app-toggle-switch>
    </span>
    <span class="plan-duration">Yearly</span>
  </div>
  <app-navigation-btn
    (back)="goToStep1()"
    (next)="goToStep3()"
  ></app-navigation-btn>
</section>
