<section class="step_4">
  <h1 class="heading-primary">Finishing up</h1>
  <p class="heading-desc">
    Double-check everything looks OK before confirming.
  </p>

  <div class="final_bill-box">
    <div class="item_list">
      <div class="item plan">
        <div class="data">
          <span class="name">{{ selectedPlan?.name }}({{ planType }})</span>
          <a class="change-link" [routerLink]="['/step-2']"  >Change</a>
        </div>
        <div class="price">{{ selectedPlan?.price }}</div>
      </div>
      <ng-container *ngFor="let addon of selectedAddons">
        <div class="addon item">
          <span class="name">{{ addon.name }}</span>
          <span class="price">+{{ addon.price }}</span>
        </div>
      </ng-container>
    </div>
    <div class="total">
      <span class="txt"
        >Total (per {{ planType === "monthly" ? "month" : "year" }})</span
      >
      <span class="price"
        >+${{ total }}/{{ planType === "monthly" ? "mo" : "yr" }}</span
      >
    </div>
  </div>

  <app-navigation-btn
    [btn2Text]="'confirm'"
    [bgColor]="'#473dff'"
    (next)="confirm()"
    (back)="backToAddon()"
  ></app-navigation-btn>
</section>
