<section class="step_4">
  <h1 class="heading-primary">Finishing up</h1>
  <p class="heading-desc">
    Double-check everything looks OK before confirming.
  </p>

  <div class="final_bill-box">
    <div class="item_list">
      <div class="item plan">
        <div class="data">
          <span class="name">Arcade(Monthly)</span>
          <a class="change-link" href="#">Change</a>
        </div>
        <div class="price">$9/mo</div>
      </div>
      <div class="addon item">
        <span class="name">Online service</span>
        <span class="price">+$1/mo</span>
      </div>
      <div class="addon item">
        <span class="name">Larger storage</span>
        <span class="price">+$2/mo</span>
      </div>
    </div>
    <div class="total">
      <span class="txt">Total (per month)</span>
      <span class="price">+$12/mo</span>
    </div>
  </div>

  <app-navigation-btn [btn2Text]="'confirm'"></app-navigation-btn>
</section>
