<section class="step_3">
  <h1 class="heading-primary">Pick add-ons</h1>
  <p class="heading-desc">Add-ons help enhance your gaming experience.</p>
  <div class="addon-boxes">
    <div class="addon-box">
      <div class="checkbox-container">
        <input
          class="checkbox-addon"
          type="checkbox"
          name="online-service"
          id="check-box-online-service
              
              
              
              "
        />
      </div>

      <div class="details">
        <p class="name">Online service</p>
        <p class="benefit">Access to multiplayer games</p>
      </div>
      <span class="pricing"> +$1/mo </span>
    </div>
    <div class="addon-box">
      <div class="checkbox-container">
        <input
          class="checkbox-addon"
          type="checkbox"
          name="larger-storage"
          id="check-box-large-storage"
        />
      </div>
      <div class="details">
        <p class="name">Larger storage</p>
        <p class="benefit">Extra 1TB of cloud save</p>
      </div>
      <span class="pricing"> +$2/mo </span>
    </div>
    <div class="addon-box active">
      <div class="checkbox-container">
        <input
          class="checkbox-addon"
          type="checkbox"
          name="custom-profile"
          id="check-box-custom-profile"
        />
      </div>
      <div class="details">
        <p class="name">Customizable Profile</p>
        <p class="benefit">Custom theme on your profile</p>
      </div>
      <span class="pricing"> +$2/mo </span>
    </div>
  </div>

  <app-navigation-btn></app-navigation-btn>
</section>
