<section class="step_3">
  <h1 class="heading-primary">Pick add-ons</h1>
  <p class="heading-desc">Add-ons help enhance your gaming experience.</p>
  <div class="addon-boxes">
    <ng-container *ngFor="let addon of addonList">
      <div
        class="addon-box"
        [ngClass]="{
          active: addon.active
        }"
        (click)="selectAddon(addon)"
      >
        <input
          class="checkbox-addon"
          type="checkbox"
          name="online-service"
          id="check-box-online-service"
          [checked]="addon.active"
        />

        <div class="details">
          <p class="name">{{ addon?.name }}</p>
          <p class="benefit">
            {{ addon?.text }}
          </p>
        </div>
        <span class="pricing"> +{{ addon?.price }} </span>
      </div>
    </ng-container>
  </div>

  <app-navigation-btn
  
  (back)="goToStep2()"
    (next)="goToStep4()"
  ></app-navigation-btn>
</section>
