<div class="sidebar">
  <div class="steps">
    <ng-container *ngFor="let step of steps; let index = index">
      <div class="step">
        <div
          (click)="goTo(index)"
          [routerLink]="['/step-' + (index + 1)]"
          routerLinkActive="router-link-active"
          class="step_num"
          [class.step_num-active]="activeStep === index + 1"
        >
          {{ index + 1 }}
        </div>
        <div class="step_head">
          <h2 class="step_head-sub">Step{{ index + 1 }}</h2>
          <h4 class="step_head-main">{{ step }}</h4>
        </div>
      </div>
    </ng-container>
  </div>
</div>
