@import "./../../assets/sass/abstracts/variables";
@import "./../../assets/sass/abstracts/mixins";

.step_5 {
  padding-top: 20%;
  text-align: center;
  .thankyou_icon {
    @include respond(phone) {
      height: 6.4rem;
    }
    &-box {
      margin-bottom: 2.4rem;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
  .heading-primary {
    margin-bottom: 1.6rem !important;
    @include respond(phone) {
      padding-top: 0 !important;
    }
  }

  .success_text {
    color: rgba($Cool-gray, $alpha: 0.6);
    padding: 0 2rem 9rem;
  }
}
