<section class="step_1">
  <h1 class="heading-primary">Personal info</h1>
  <p class="heading-desc">
    Please provide your name, email address, and phone number.
  </p>
  <form action="#" class="step_1-form form" #f="ngForm">
    <div class="form_group">
      <label for="uname" class="form_label">Name</label>
      <span *ngIf="invalidName" class="invalid-msg"
        >This field is required</span
      >
      <input
        type="text"
        placeholder="e.g.Stephen King"
        [(ngModel)]="user.name"
        name="uname"
        id="uname"
        class="form_control"
        [class.form_control-invalid]="invalidName"
      />
    </div>
    <div class="form_group">
      <label for="email" class="form_label">Email Address</label>
      <span *ngIf="invalidEmail" class="invalid-msg"
        >This field is required</span
      >
      <input
        type="email"
        placeholder="e.g. stephenking@lorem.com"
        class="form_control"
        [(ngModel)]="user.email"
        name="email"
        id="email"
        [class.form_control-invalid]="invalidEmail"
      />
    </div>
    <div class="form_group">
      <label for="phone" class="form_label">Phone</label>
      <span *ngIf="invalidPhone" class="invalid-msg"
        >This field is required</span
      >
      <input
        type="text"
        [(ngModel)]="user.phone"
        name="phone"
        id="phone"
        placeholder="e.g. +234 567 890"
        class="form_control"
        [class.form_control-invalid]="invalidPhone"
      />
    </div>
  </form>

  <app-navigation-btn
    (next)="submitForm()"
    [showGoBackBtn]="false"
  ></app-navigation-btn>
</section>
