<section class="step_1">
  <h1 class="heading-primary">Personal info</h1>
  <p class="heading-desc">
    Please provide your name, email address, and phone number.
  </p>
  <form action="#" class="step_1-form form">
    <div class="form_group">
      <label for="uname" class="form_label">Name</label>
      <input type="text" placeholder="e.g.Stephen King" class="form_control" />
    </div>
    <div class="form_group">
      <label for="uname" class="form_label">Email Address</label>
      <input
        type="email"
        placeholder="e.g. stephenking@lorem.com"
        class="form_control"
      />
    </div>
    <div class="form_group">
      <label for="uname" class="form_label">Name</label>
      <input type="text" placeholder="e.g. +234 567 890" class="form_control" />
    </div>
  </form>
  <div class="navigation-btns">
    <button class="btn_next">Next Step</button>
  </div>
</section>
